* {
  margin: 0;
  padding: 0;
}
/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */
header {
  background-color: #f5f6fa;
}
.navbar__contain1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar__menu {
  display: flex;
  list-style: none;
  gap: 2rem;
}
.navbar__menu li a {
  text-decoration: none;
  font-size: 18px;
  color: #66696e;
}
.navbar__menu li a:hover {
  color: black;
}
.navbar__logo {
  width: 140px;
  height: auto;
}
.navbar__btn {
  width: 130px;
  height: 40px;
  border-radius: 10px;
  padding: 5px;
  background-color: #0176ff;
  color: white;
  border: none;
  cursor: pointer;
}
.navbar__contain2 {
  display: none;
}
.header__contain {
  border: 0.5px solid #e0e4ea;
}
.header__contain__para {
  width: 29vw;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px auto;
  gap: 20px;
}
.header__contain__para h2 {
  font-size: 31px;
  font-weight: bold;
}
.header__contain__para > :nth-child(2) {
  color: #66696e;
  font-size: 12.5px;
}
/* -------------------------------------------------------------------------- */
/*                                    main                                    */
/* -------------------------------------------------------------------------- */
.main__container__contain {
  display: flex;
  flex-wrap: wrap;
  margin: 60px;
  gap: 2rem;
  justify-content: center;
}
.main__container__contain1 > :nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  margin-top: 7px;
}
.main__container__contain1 > :nth-child(3) {
  color: #858a8f;
  margin-top: 7px;
}
.main__container__anothercontain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: #f5f6fa;
  padding: 4rem;
}
.body__btn {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  padding: 5px;
  background-color: #0176ff;
  color: white;
  border: none;
  cursor: pointer;
}
/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */
.footer__contain {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}
.footer__contain1 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #4d4f52;
}

.footer__contain1 img {
  width: 140px;
  height: auto;
}

.footer__contain1__socialmedia img {
  margin-top: 6px;
  width: 40px;
  height: auto;
}
.footer__contain1 ul li {
  list-style: none;
  margin-top: 6px;
}
.footer__contain1 ul li:nth-child(1) {
  font-weight: bold;
  font-size: 18px;
}
.copyright {
  margin: 0px 0px 50px 135px;
  color: #4d4f52;
}
